.auth {
    width: 400px;
    height: auto;
    margin: 50px auto;
}
.welcome {
    width: 800px;
    height: auto;
    margin: 60px auto;
}
.form-control {
    margin: 10px 0px;
}
.btn-block {
    margin-top: 30px;
}

.table-app {
    width: 1000px;
    height: auto;
    margin: 50px auto;
}
.actions {
    display: flex;
    width: 1000px;
    height: 40px;
    margin: 20px auto 5px auto;
    justify-content: flex-end;

}
.actions .alert {
    width: 650px;
    height: 40px;
    margin-right: 200px;
    text-align: center;
    padding: 10px;
}
.form-request {
    width: 1000px;
    height: 100%;
    margin: 50px auto;
}